<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>

    <!--add key="provider" value="System.Data.OleDb"/-->
    
  </appSettings>
  <connectionStrings>
    <add name="AutoLotSqlProvider" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=AutoLot;Integrated Security=True;Pooling=False"/>
    <add name="AutoLotOleDbProvider" connectionString="Provider=SQLOLEDB;Data Source=localhost\SQLEXPRESS;Initial Catalog=AutoLot;Integrated Security=SSPI;Pooling=False"/>
  </connectionStrings>
</configuration>